contact .row{
    display: flex;
    align-items: center;
    background: rgb(15, 19, 32);;
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 1 30rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 30rem;
    padding: 3rem 1rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgb(0, 0, 0);
    border: 1px solid white;
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}
.contact .row form .inputBox input{
    width: 100%;
    text-transform: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    background: none;
    border: none;
}
.contact .row form .button{
    width: 40%;
    text-align: center;
    border-radius: 10px;
    margin-top: 4%;
}