
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 5%;
    background: url(./Images/home-img.jpeg);
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
}
.home .content p{
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 1rem 0;
    color: #fff;
}