
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 5%;
    background: url(./Images/home-img.jpeg);
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
}
.home .content p{
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 1rem 0;
    color: #fff;
    line-height: 35px;
    font-style: italic;
}

h3 span{
    color: rgb(196, 143, 80);
}
.content .button{
    width: 200px;
    height: 50px;
    padding: 15px;
    border-radius: 20px;
    margin-top: 30px;

}
.button:hover{
    color: blanchedalmond;
}
.button::before{
    content: "";
    transform: translateY(-100%);
    transition: transform 0.3s;
}