.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 40px;
    margin-top: 30px;
}
.menu .box-container .box{
    padding: 3rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 30px;
}
.menu .box-container .box img{
    height: 7rem;
}
.menu .box-container .box h3{
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem 0;
}
.menu .box-container .box .price{
    color: #fff;
    font-size: 1.5rem;
    padding: 3rem 0;
}
.menu .box-container .box .price span{
    color: rgb(83, 70, 70);
    font-size: 1rem;
    text-decoration: line-through;
    padding: 3rem 0;
}
.menu .box-container .box:hover{
    background: #fff;
}
.menu .box-container .box:hover{ 
    color: black;
}